@charset "UTF-8";

body{
    background-color: white;
    background-image: url(image/debu150711559480_TP_V.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left bottom;
}

aaa{
    background: #0bd;
    width: 500px;
    height: 300px;
}



h2{
    font-family: serif;
}

h2{
    color: darkorchid;
}

h2{
    font-size: 20px;
}

h2{
    text-align: center;
}

p{
    font-family: serif;
}

p{
    text-align: center;
}

p{
    line-height: 1.0;
}