body {
    background-image: url(image/jungle-4191340_960_720.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    font-family: serif;
    font-size: 40px;
    color: rgb(76, 204, 50);
    text-align: center;
}